[Unit]
Description=Flannel Overlay Network for Kubernetes
After=k8s-etcd.service

[Service]
EnvironmentFile=/etc/kubernetes/k8s.conf
ExecStartPre=-/usr/bin/docker -H unix:///var/run/docker-bootstrap.sock kill k8s-flannel
ExecStartPre=-/usr/bin/docker -H unix:///var/run/docker-bootstrap.sock rm k8s-flannel
ExecStart=/usr/bin/docker -H unix:///var/run/docker-bootstrap.sock run -d --name=k8s-flannel --net=host --privileged -v /dev/net:/dev/net andrewpsuedonym/flanneld flanneld --etcd-endpoints=http://${K8S_MASTER_IP}:4001
ExecStartPost=/bin/bash -c "sleep 10;/usr/bin/docker -H unix:///var/run/docker-bootstrap.sock cp k8s-flannel:/run/flannel/subnet.env /etc/kubernetes"
#ExecStop=/usr/bin/docker -H unix:///var/run/docker-bootstrap.sock stop k8s-flannel

[Install]
WantedBy=multi-user.target
